.tablecontainer {
    height:60vp;
    width:100%;
    position:absolute;
    top:5px;
    padding-left:0px;
    padding-right:0px;
    left:0px;
    overflow-y: scroll;
    background-color: #32056d;
}
